Welcome to your new {{ banner_name | default("juniper")}} system.
Hostname : {{ net_hostname | default("Hostname not set")}}
Model : {{ net_model }}
Python Version : {{ net_python_version }}
Serial Number : {{ net_serialnum }}
Operating System : {{net_system}} - version {{ net_version }} 

Please use this system responsibly

>








