Welcome to your new {{ banner_name | default("juniper")}} system.
Hostname : {{ ansible_facts["net_hostname"] | default("Hostname not set")}}
Model : {{ ansible_facts["net_model"] }}
Python Version : {{ ansible_facts["net_python_version"] }}
Serial Number : {{ ansible_facts["net_serialnum"] }}
Operating System : {{ansible_facts["net_system"]}} - version {{ ansible_facts["net_version"] }} 

Please use this system responsibly

>








